@font-face {
    font-family: "SF PRO";
    src: url('sf2.ttf') format('truetype');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF PRO";
}

body {
    background-color: black;
}

header {
    padding: 8px 2%;
    background-color: #333;
    text-align: center;
}
nav.menu ul {display: inline-block;}

.menu li {
    display: inline-block;
    color: white;
    margin: 0 30px;
    font-size: 14px;
}

.menu a {
    margin: 0 5px;
    color: white;
    text-decoration: none;
}